PORT=8200
DB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/<dbname>?retryWrites=true&w=majority

JWT_TOKEN_SECRET=your_jwt_token_secret
REFRESH_JWT_TOKEN_SECREAT=your_refresh_token_secret

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=YourAdminPassword123

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_gmail_app_password
EMAIL_FROM=VASTRA VERSE <your_email@gmail.com>

RAZORPAY_TEST_APIKEY=rzp_test_xxxx
RAZORPAY_TEST_SECRET=xxxx

CLOUDINARY_CLOUD_NAME=xxxx
CLOUDINARY_API_KEY=xxxx
CLOUDINARY_API_SECRET=xxxx

GOOGLE_CLIENT_ID=xxxx
GOOGLE_CLIENT_SECRET=xxxx

ENVIRONMENT=development
